/* 
==========================
General Styles
==========================
These are the styles that will apply to the page first. It includes things like basic fonts, font-size, link styling, list, base nvigation styling and so on. I'm not including most of that here but instead a couple of things that will help in most responsive designs (there is no "always" rule).
*/

/* Border Box --------------------------
This is used to help you be able to set the widths of things once and then come and fiddle with borders and padding later without having to recalculate and change the width (something you have to do with the standard, default setting).
*/
*{ 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;  }


/* Responsive Media ---------------------
These settings allow media elements (img, video) to change size as their containing element changes size (which is part of a fluid grid and you want to happen).
*/
img,video{width: auto; max-width: 100%; height: auto; margin: 0 auto 1em;}


/* ==============================
    Media Queries
   ==============================
  This is the media queries that make the site change at different screen widths.
  Below is an example. You can modify or replace
*/



/* CSS here for every device (import fonts, set base typography, base responsive styles, colors etc). */
/*
  Styles not in a media query will affect all screens. 
  Add those first and for mobile-first design, 
  start with the styles for mobile (small screen) devices
*/


@media (min-width: 600px){
  /* Screens from 600px and up */
  /* this applies to mobile in landscape and some tablets in portrait */

}/*   end min-width 600 */



@media (min-width: 900px){
  /* Screens from 900px and up */
  /* this applies to tablets */

}/*   end min-width 900 */



  @media (min-width: 1200px){
    /* Screens from 1200px and up */
    /* this applies average laptops */

  }/*   end min-width 1200 */



  @media (min-width: 1800px){
    /* Screens from 1800px and up */
    /* this applies to large laptops and desktops */

  }/*   end min-width 1800 */

